:root {
  color-scheme: light dark;

  --bg: light-dark(#ffffff, #121212);
  --fg: light-dark(#000000, #e0e0e0);
  --link: light-dark(#0000cc, #66b2ff);
  --code: light-dark(#f8f9fa, #1e1e1e);

  /* --data-c1: #0178d6;
  --data-c2: #f7ba00;
  --data-c3: #ab5fc7;
  --data-c4: #51ca6f;
  --data-c5: #ff8385;
  --data-c6: #0095ab; */
  --data-c1: #2f7bd0;
  --data-c2: #987425;
  --data-c3: #c032e7;
  --data-c4: #258b42;
  --data-c5: #eb262e;
  --data-c6: #2a8496;

  --serif: 'Libre Baskerville', 'Georgia', 'Times New Roman', serif;
  --sans: 'Montserrat', sans-serif;
  --mono: 'Fira Code', monospace;

  --bg-subtle: color-mix(in oklch, currentColor, transparent 90%);
  --bg-hover: color-mix(in oklch, currentColor, transparent 85%);
  --bg-active: color-mix(in oklch, currentColor, transparent 95%);
  --bg-subtle-solid: color-mix(in oklch, currentColor, var(--bg) 90%);
  --bg-hover-solid: color-mix(in oklch, currentColor, var(--bg) 85%);
  --bg-active-solid: color-mix(in oklch, currentColor, var(--bg) 95%);

  --shadow-c: light-dark(#0003, #0005);
  --shadow-popover: 0 20px 25px -5px var(--shadow-c), 0 8px 10px -6px var(--shadow-c);

  --header-size: 4rem;
  --header-radius: calc(var(--header-size) / 2);
}
:root[data-theme='light'] {
  color-scheme: light;
}
:root[data-theme='dark'] {
  color-scheme: dark;
}

:focus-visible {
  outline: 2px solid var(--link);
  outline-offset: 3px;
}

* {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0 !important;
    transition-duration: 0 !important;
  }
}

html,
body {
  margin: 0;
  background-color: var(--bg);
  padding: 0;
  color: var(--fg);
}

.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-subtle);
  aspect-ratio: 1;
  color: currentColor;
  line-height: 0;
  text-decoration: none;

  &:hover {
    background-color: var(--bg-hover);
  }
  &:active {
    background-color: var(--bg-active);
  }

  & > svg {
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
    width: 60%;
    height: 60%;
  }
}
